body {
	padding:0;
	margin:0; 
	font-family:tahoma,verdana; 
}
.container {
    width: 1024px;
    height: auto;
    margin:auto;
    margin-bottom: 30px;
}
.nav-01{
	margin:auto;
	width:95%;
	height:auto;
	margin-bottom: 30px;
}
.topo {
	margin:auto;
	width:100%;
	height:50px;
	background-color:#474747FF;  
}
li a{
	text-decoration: none;
	color:#0094FFFF;
}
li a:hover{
	color:white;
	transition-duration:0.5s;
}
.left {
	float:left;
	background-image: url(../imagens/logo.png);
	background-repeat: no-repeat;
    margin-left: 150px;
    margin-top: 5px;
   	width: 110px;
	height: 50px;
 }
.right ul{
	float:right;
	margin-right:10px; 
}
.right ul li {
	width:100px;
	display: inline-block;
	text-transform: uppercase;
    text-align: right;
    letter-spacing:1px; 
    padding-right:40px;
    color:#4E62E9FF;
    font-size:14px; 
}
.imagem-1 {
	width:100%;
	height:460px; 
	background-image:url(../imagens/topo.jpg); 
	background-repeat:no-repeat;
    background-size: cover;
}
.texto-1 {
	margin:auto; 
	width: 85%;
	height:auto;
	background-color:white; 
	margin-bottom: 30px;
}
.texto-1 h1 {
	text-align: center;
}
.texto-1 p {
	text-align: center;
	line-height:2.0; 
}
.fotos-3 {
	margin:auto;
	width:85%;
	height:auto;   
}
.fotos-3 ol li {
	display: inline-block;
	width:29%;
	height:100%; 
	margin-left: 15px;
	text-align: center;  
	text-transform: uppercase;
}
.fotos-3 ol li p {
	font-size: 12px;
	color:#9B9B9BFF;
}
img {
	border-radius:5%; 
}
img:hover {
	opacity:0.5;   
}
.imagem-2 {
	width:95%;
	height: 500px;
	margin:auto;
	background-image: url(../imagens/bg_detalhe.png);
	background-size: cover;
	background-repeat: no-repeat; 
	
}
.imagem-2 h2 {
	margin-left: 40px;
	font-size:50px;
	padding-top: 50px; 
    color:white;
    text-transform: uppercase;
    font-weight: normal;
}
.imagem-2 p {
    
	margin-left: 40px;
	margin-right: 450px;  
	color:white;
	line-height:1.5;
	text-align:left;  
}
.texto-2 {
	margin:auto; 
	width:85%; 
	font-size:18px; 
	text-align: center;
	margin-top:30px; 
	text-transform: uppercase;
	color:#238EDBFF;
	letter-spacing:5px; 
	margin-bottom: 30px;
}
.mapa-1 {
	margin:auto;
	width:95%;
	margin-bottom:30px; 
}
.footer {
	font-size:10px; 
	margin:auto;
	width:95%;
	height:50px; 
	line-height:50px; 
	text-align: center;
	background-color: black;
	color:white;
	text-transform: uppercase;
	letter-spacing:5px;

}


	

